

header{
    text-align: center;
}

header > h1{
    color: blueviolet;
}

.calendar-container{
    width: 100%;
}

.small-title {
    color: blueviolet;
}



.month-container{
    width: 100%;
    height: 100%;
    color: blueviolet;
    background-color: rgb(238, 238, 238);
}

.day-of-week{
    display: grid;
    grid-template-columns: repeat(7,1fr);
   
    grid-gap: 1em;
}

.day-of-week > span{
    height: 4vh;
    text-align: center;
}

.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
   
    grid-gap: 1em;
}

.date{
   height: 14vh;
    text-align: left;
    background-color: whitesmoke;
    margin: 2%;
}

.date-items {
    
}

.button {
    background-color: blueviolet; /* Green */
    border: none;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
  }

  input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }